body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(119, 119, 119);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border: 3px solid green;
  display: flex;
  padding: 10px;

}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.username {
  display: flex;

}

.links-wrapper {
  display: flex;
  align-content: space-around;
  align-self: flex-end;
}

.header-link {
  display: flex;
  align-content: space-around;
}