@font-face {
  font-family: 'Nokia-Pixelated';
  src: url('/assets/fonts/nokiafc22.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at 80% 50%, #ff0000, #222222);
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
	font-size: 30px;
  color: #fffffe;
}

ul, ol, li {
  list-style: none;
}

button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px;
  background-color: rgb(230, 230, 230);
}

button:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  border-color: rgb(70, 70, 70);
}

header {
  background-color: #0f0e17;
  color: #7f5af0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem;
}

header>#title {
  text-align: center;
  margin: 0 auto;
  font-size: 3.5rem;
}

h1 {
  font-family: 'Nokia-Pixelated', 'Montserrat', sans-serif;
}

main {
  min-height: calc(83vh - 113px - 80px - 28px - 35px);
  min-width: 70vw;
  justify-content: center;
}

footer {
  display: flex;
  /* margin-top: auto; */
  font-family: 'Nokia-Pixelated', 'Montserrat', sans-serif;
  height: 5vh;
}

footer>.footer-section {
  background-color: #0f0e17;
  color: #7f5af0;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: 8vh;
}

#board-size {
  width: 55px;
  text-align: center;
  border-radius: 4px;
  padding-left: 4px;  
}

#color-palette {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 3vh auto;
  gap: 1vw;
}

#pixel-board {
  display: grid;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 90px;
  margin: 3vh 6vw;
}

#black {
  background-color: black;
}

.main-section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem - 5vh);
}

.main-content {
  display: flex;
}

.img-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4vw;
}

section.palette::before {
  content: "";
  background-image: url('/assets/color-palete-image.png');
  background-size: 300px 300px;
  display: flex;
  width: 300px; 
  height: 300px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 15%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 2vw;
}

.tools>input {
  width: 50px;
  opacity: 0.8;
}

.tools>input:hover {
  opacity: 1;
}

input.selected-tool {
  opacity: 1;
  width: 60px;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
}

.color:hover {
  cursor: pointer;
  border-width: 5px;
}

.c-one {
  height: 16%;
  width: 18%;
  bottom: 26%;
  left: 38%;
}

.c-two {
  height: 16%;
  width: 18%;
  bottom: 38%;
  right: 6%;
}

.c-three {
  height: 16%;
  width: 18%;
  bottom: 58%;
  right: 27%;
}

.c-four {
  height: 16%;
  width: 18%;
  bottom: 70%;
  right: 28%;
}

.c-five {
  height: 16%;
  width: 18%;
  bottom: 83%;
  left: 59%;
}

.selected {
  border: 5px solid white;
  opacity: 1;
}

.pickr-color{
  border: 1px solid black;
  display: inline-block;
  height: 80px;
  width: 80px;
}


.buttons-section {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 1.5vw;  
  gap: 1vw;
}


.buttons-section>input:hover {
  background-color: rgb(240, 240, 240);
}

.color-picker {
  opacity: 0.7;
}

.color-picker:hover {
  opacity: 1;
  border: 2px solid rgba(0, 0, 0, 0.692);
  border-radius: 50%;
  border-style: dotted;
}

.container>input {
  display: flex;
  border: none;
  outline: none;
  height: 100%;
  cursor: pointer;
  border-radius: 0.1em;
}

.palette>input {
  display: inline-block;
  border: none;
  outline: none;
  height: 40px;
  cursor: pointer;
  border-radius: 0.1em;
  position: relative;
  bottom: 70%;
  left: 20%;
}

@media only screen and (max-width: 1199px) {
  .palette {
    display: none;
  }

  .buttons-section {
    gap: 8vw;
    margin-right: 0vw;
  }

  .buttons-section>button {
    padding: 0.5rem;
    /* width: 4rem; */
    /* font-size: small; */
    /* font-weight: 100; */
    font-family: 'Nokia-Pixelated', 'Montserrat', sans-serif;
  }

  .main-content {
    flex-direction: column;
  }

  .main-content>#pixel-board {
    order: 0;
    margin: 0;
    padding: 0;
  }
  .main-content>.tools {
    order: 1;
    flex-direction: row;
    align-self: center;
    gap: 14vw;
    width: 100%;
    max-width: 80%;
    padding: 0;
    margin: 2vh 0;
  }

  footer>.footer-section {
    font-size: 0.9rem;
    padding: 0.7rem;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  #color-palette {
    display: none;
  }

  .palette {
    padding-top: 10vh;
  }

  .container>input {
    display: none;
  }
}
