* {
	margin: 0;
	padding: 0;
	border: 0;
  background-color: rgb(237, 227, 200);
}

input {
	border: 1px solid rgb(42,42,42);
	text-align: center;
	width: 300px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 25px
}

button {
	border: 1px solid rgb(13,13,13);
	padding: 2.5px 5px;
	border-radius: 6px;
	box-shadow: 2px 2px 0px rgb(170, 170, 170);
}

section {
	text-align: center;
}

ol {
	margin: 20px auto;
	width: 300px;
}

.selected {
  background-color: rgb(128,128,128);
}

.completed {
  text-decoration: line-through;
}

#header {
	text-align: center;
}

#funcionamento {
	text-align: center;
	margin-left: 10px;
	font-size: 15px;
	font-style: italic;
	margin-top: 20px;
}
