html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(199, 199, 199);
  color: rgb(31, 31, 31);
  margin: auto;
  text-align: justify;
  width: 90%;
  max-width: 1400px;
}

body ul, li {
  padding-left: 15px;
  margin-left: 5px;
}
body p h3 h2 h1{
  margin: 4px;
  padding: 5px;
}



@media screen and (max-width: 900px) {
  body {
    background-color: rgb(210, 210, 210);
    color: rgb(21, 21, 21);
    margin: auto;
    text-align: justify;
    width: 90%;
  }
 
  body ul, li {
    padding-left: 15px;
    margin-left: 5px;
  }
  body p h3 h2 h1{
    margin: 4px;
    padding: 5px;
  }
}

@media screen and (max-width: 450px) {
  body {
   background-color: rgb(230, 230, 230);
   color: rgb(21, 21, 21);
   margin: auto;
   text-align: justify;
  }
  
  body ul, li {
    padding-left: 15px;
    margin-left: 5px;
  }
  body p h3 h1 h2 {
    margin: 4px;
    padding: 5px;
  }
}



/* 1 - Utilizando a abordagem mobile first e media queries, crie três versões de layout diferentes para essa página. Cada layout deve corresponder a um tamanho diferente de página (pequeno, médio e grande). Faça pelo menos um commit para cada layout;
2 - Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela:
  Onde a lista de capítulos deve estar posicionada?
  Como a história deve ser mostrada?
  Como o cabeçalho deve ser posicionado?
  O que fazer com as informações do autor em cada tamanho de tela?
3 - Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página. */